.Checkbox {
	display: block;

	padding-left: 1.2em;
	padding-top: 12px;

	width: 212px;
	height: 30px;

	padding-left: 20px;

	font-size: 13px;
	font-weight: 400px;

	&:hover {
		background-color: rgba(241, 252, 255, 1);
		cursor: pointer;
	}

	input {
		position: absolute;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:checked + .Checkbox-custom {
			background-image: url("../../img/active-checkbox.svg");
		}
	}

	&-custom {
		position: absolute;
		width: 20px;
		height: 20px;
		margin-top: -1px;
		overflow: hidden;
		border-radius: 0.05em;
		background-color: white;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url("../../img/empty-checkbox.svg");
	}

	&-title {
		margin-left: 30px;
	}
}
